<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>download your video</title>
    <link rel="stylesheet" href="download.css">
  </head>
  <body>
    <div class="vid">
      <div><video width="320" height="240" controls>
        <source src="/videos/video.mp4" type="video/mp4">
      </video></div>
    </div>
    <div class="butt">
      <div><a href="videos/video.mp4" download><button type="button"><b id="butt_text">click here to download</b></button></a></div>
    </div>
      
 
    

  </body>
</html>
