<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <link rel="stylesheet" href="styles.css">
  <meta charset="utf-8">
  <title></title>
  <script src="main.js">
    <link rel="json" href="vid_url.json"></link>

  </script>
</head>

<body>
  <div class="shape">
    <h1>
      <p>Youtube Video Downloader</p>
      <h1>
  </div>
  <center>
    <h1></h1>
    <div class="form">
      <form action="/" method="POST">
        <label for="addurl">Enter Valid Youtube Url:</label><br>
      <input type="url" id="addurl" name="url" required></input><br>
      <button type="submit">submit</button>
    </form>
    </div>
  </center>
</body>


</html>